@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@100&display=swap');
header{
    nav{
        background-color: map-get($paleta-colores, "blanco" );
        font-family: 'Poppins', sans-serif, black;
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            div{
                ul{
                    li{
                        a{
                            color: map-get($paleta-colores, "negro" ) !important;
                        }
                    }
                }
            }
        }

    }
}
footer{
    div{
        font-family: 'Poppins', sans-serif, black;
        background-color: map-get($paleta-colores, "blanco" );
        div{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
}