@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@100&display=swap');
.container-fluid{
    font-family: 'Poppins', sans-serif, black;
    .row{
        .col{
            .button-container{
                position:relative;
                .button1{
                    @include estilosboton;
                }
                }
            }
        }
    }

form{
    text-align: center;
}
.button1--eliminar{
    @extend .button1;
    top: 75% !important;
}
